trigger: none

pool: atul

stages:

  - stage: TerraformInit
    displayName: "Terraform Init"
    jobs:
      - job: TerraformInit
        steps:

        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

  - stage: Plan
    displayName: "Terraform Plan"
    dependsOn: TerraformInit
    jobs:
      - job: TerraformPlan
        steps:

        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Envirnment/dev'
            backendServiceArm: 'newconnection'
            backendAzureRmResourceGroupName: 'rg'
            backendAzureRmStorageAccountName: 'gfbn'
            backendAzureRmContainerName: 'nrnr'
            backendAzureRmKey: 'terraform.tfstates'

        - task: tfsec@1
          displayName: Scan
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)/Envirnment/dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Envirnment/dev'
            environmentServiceNameAzureRM: 'newconnection'

  - stage: TerraformApply
    displayName: TerraformApply
    jobs:
      - job: TerraformApply
        steps:

        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Envirnment/dev'
            backendServiceArm: 'newconnection'
            backendAzureRmResourceGroupName: 'rg'
            backendAzureRmStorageAccountName: 'gfbn'
            backendAzureRmContainerName: 'nrnr'
            backendAzureRmKey: 'terraform.tfstates'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Envirnment/dev'
            environmentServiceNameAzureRM: 'newconnection'